# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Local development certificates
certs/
.caddy/

# macOS
.DS_Store

# Logs
*.log

# Editor
.vscode/
.idea/

public/videos/*.mp4
public/videos/*.MP4